/* IMPORT FONT FAMILY
================================================== */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=devanagari,latin-ext');

/* Reset Default Browser Style
================================================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
section, header, footer, aside	{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* ------- General Style ------- */
body {
	color: white;
	background: #ee6184;
	background-image: url(../images/image_01.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 180%;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
}
h1 {
	font-weight: 100;
	font-size: 3.5em;
}
h2 {
	font-weight: 600;
	font-size: 3em;
	text-transform: uppercase;
}

p { padding: 15px; }
.col-sm-6 { margin: 2em 0; padding: 1em; }
.col-sm-4 { margin: 2em 0; }

navbar-brand img { margin: 0; }

a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: white;
	text-decoration: none;
}

#main {
	padding-top: 1em;
	margin-top: 25%;
}

.line {
	margin: 1.5em auto 2.5em auto;
	width: 100px;
	height: 1px;
	background: #fff;
}

/* ------- CountDown Style ------- */
ul.countdown {
	list-style: none;
	margin: 1em 0;
	padding: 1em 0;
	display: block;
	text-align: center;
}

ul.countdown li {
	display: inline-block;
	padding: 0 2em;
}

ul.countdown li span {
	font-size: 4.8em;
	font-weight: 600;
	line-height: 80px;
	letter-spacing: -.05em;
}

ul.countdown li.seperator {
	font-size: 5em;
	line-height: 70px;
	vertical-align: top;
}

ul.countdown li p {
	padding: 0.6em 0;
	font-size: 0.9em;
	font-weight: 700;
	text-transform: uppercase;
}

/***************************************************************/
/* FORM */
/***************************************************************/
form input{
	border: 0px;
	border-radius: 1px;
	height: 2.2em;
	width: 20em;
	text-align: center;
	outline: none;
	margin-bottom: 5px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 1em;
}
form input#email {
	color: white;
	background: none;
	border: 1px solid white;
}
form input#email:hover {
	box-shadow: 0px 0px 5px #ffffff;
}
form input[type="submit"] {
	background: none;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	text-transform:uppercase;
	letter-spacing: .15em;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
	width:15em;
	font-weight:500;
	padding: 0;
}
form input[type="submit"]:hover {
	background: #666666;

}

.form-note {
	color: #000;
	font-size: 1em;
	font-style: italic;
	margin: 24px 0;
}

#success {
	padding-top: 10px;
	color: #66CC00;
	display: none;
}
#error {
	padding-top: 10px;
	color: #e62f2c;
	display: none;
}

/* SOCIAL NETWORK */
section .services {
	margin-top: 1em;
	padding-top: 1em;
	text-align: center;
    transform: translatez(0);
}

section .services li {
	width: 40px;
	height: 60px;
	display: inline-block;
	margin: 20px;
	list-style: none;
}

section .services li div {
	width: 55px;
	height: 55px;
	color: white;
	font-size: 1em;
	text-align: center;
	line-height: 55px;
}

section .services li div:hover {
	
}

section .services li .caption {
	width: 60px;
	height: 20px;
	display: block;
	padding: 10px 0;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 0.8em;
	text-align: center;
}

/* NAV BAR*/
.navbar-default {
	background: none;
	border: 0px;
	padding: 5px;
}

.navbar-default .navbar-brand {
  color: white;
  padding-right: 100px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #eeeeee;
  background-color: transparent;
}

.navbar-default .navbar-text {
  color: #eeeeee;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eeeeee;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #eeeeee;
  background-color: transparent;
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #dddddd;
}

.navbar-default .navbar-toggle { width: 45px; }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #cccccc;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #eeeeee;
}


.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #eeeeee;
  border-bottom-color: #eeeeee;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #eeeeee;
}

@media (max-width: 767px) {
	.navbar-collapse { text-align: left; }
	.container { margin: 0; padding: 3px;}
	#main { margin: 35% 0 0 0; padding: 0;}
	form input[type="email"] { width: 17em; }
}
@media (max-width: 486px) {
		#main { margin: 35% 0 0 0; padding: 0;}
	form input[type="email"]{ width: 95%; }
	form input[type="submit"] { width: 95%; }
}

#about { display: none; }
#contact { display: none; }
#content { margin: 2em; }

/****************************************
*------NEW PAGES BACKGROUND COLOR------*
****************************************/
.background-color { background: #ffda6c; }

.header { padding: 20px 0; }
.header h3 { font-size: 36px; padding: 10px 0; }
.header a { color: #4b4b4b; }
.header ul.menu { padding: 10px 0; }

.header .active { text-decoration: underline; }

.coming-soon { padding: 80px 0 40px 0; color: #4b4b4b; }
.line-dark {
	margin: 1.5em auto 2.5em auto;
	width: 100px;
	height: 1px;
	background: #4b4b4b;
}
.subscibe-form { background: #fcd664; padding: 80px 0 78px 0; color: #4b4b4b; }
.subscibe-form #success { color: #4b4b4b; }
.subscibe-form #success .fa { width: 25px; text-align: center; color: #5cb700; }
.subscibe-form #error { color: #4b4b4b; }
.subscibe-form #error .fa { width: 25px; text-align: center; color: #e62f2c; }


.subscibe-form form input#email { color: #4b4b4b; border: 1px solid #4b4b4b; box-shadow: 0px 0px 0px #4b4b4b; }
.subscibe-form form input#email:hover { box-shadow: 0px 0px 0px #4b4b4b; }
.subscibe-form form input[type="submit"] { background: #4b4b4b; border: 1px solid #4b4b4b; box-shadow: 0px 0px 0px #eeeeee; }
.subscibe-form form input[type="submit"]:hover { background: #4b4b4b; box-shadow: 0px 0px 0px #eeeeee; }

.social-network { padding: 60px 0 58px 0; color: #4b4b4b; }
.social-network .fa {width: 25px; text-align: center; }
.social-network a { color: #4b4b4b; padding: 10px; }
.social-network #instagram a { color: #3b5998; }
.social-network #twitter a { color: #48a4ea; }
.social-network #youtube a { color: #cc181e; }
.social-network #linkedin a { color: #1b85bd; }

.background-color #about { color: #4b4b4b; background: #fcd664; padding: 80px 0 78px 0; }

.background-color #contact { color: #4b4b4b; background: #fcd664; padding: 80px 0 78px 0; }
#contact h4 { margin: 10px 0; }

.footer { padding: 10px 0 8px 0; color: #4b4b4b; }
